snippet ! "A simple HTML tag"
!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>

    <script src="js/index.js" charset="utf-8"></script>
  </body>
</html>
endsnippet
